<footer class="page-footer font-small blue" style="color: aqua;">
   
    <div class="footer-copyright text-center py-3" style="margin-top: 200px; color: #000; ">
        <hr>
        <a >Welcome to new world </a>
      &nbsp;&nbsp;
        <% if(path === '/') { %>
        <a href="https://www.twitch.tv/" target="_blank"> Contact Us</a>
        <% } %>
       
    </div>
   
  
  </footer>