<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="card">
        <div class="card-header">ABC University
        <div class="card-body">
            <p class="card-title.text-primary">No:</p>
            <p class="card-title.text-primary">Name:</p>
            <p class="card-text.text-primary">Department:</p>
        </div>
        </div>
        </div>
   </main>
        <!-- <div class="card">    
        <div class="card-header"> ABC UNIVERSITY
            div.card-body
                    p.card-title.text-primary No: #{index}
                    p.card-title.text-primary Name: #{products.name}
                    p.card-text.text-primary  ID: #{products.id}
                    p.card-text.text-primary Department: #{products.department}
                    //- a.btn(href="/" type='button' onclick='click()')   Delete
                    hr
    else 
        h1 No Data Found  -->
</body>

</html>